.panel {
    /* background-color: var(--window-bg-color); */
}

.panel-menu-bin > menubutton > button {
        background-color: var(--window-bg-color);
}
.panel-menu-bin popover > * {
    border-radius: calc(var(--window-radius) * 1.5);
}
.calendar * {
}

.calendar {
    background-color: transparent;
    border: none;
}

.calendar > grid > label{
    font-size: small;
    font-weight: bolder;
	padding: 0.6em 0px 0.6em 0px;
	border-radius: 2.2em;
}

.bg-window {
    background-color: var(--window-bg-color);
}


.notifications-module > listview {
    background-color: transparent;
}

.notifications-module > listview > row {
    background-color: transparent;
}
.notifications-module .notification {
    background-color: var(--window-bg-color);
    border-radius: calc(var(--window-radius));
    padding: calc(var(--window-radius));
    margin-bottom: 5px;
    padding: 0.4rem;
}

.notification-top-button {
    padding: 0px;
    border-radius: 50%;
}

.notification.critical {
    background: alpha(var(--accent-red), 0.04);
    background-image: linear-gradient(to right, transparent, alpha(var(--accent-red), 0.2));
    border: 1px solid var(--border-color);
}

.rounded-lg {
    /* background-image: linear-gradient(transparent, var); */
}

.rounded {
    border-radius: calc(var(--window-radius));
}

.rounded-sm {
    border-radius: calc(var(--window-radius) * 2 / 3);
}

.notifications-scrolled-window > * {
    background-color: transparent;
}

.bento-grid > *{
    background-color: red;
    padding: 10px;

    border-radius: var(--window-radius);
    background-color: var(--window-bg-color);
}